@{
    ViewBag.Title = "Dashboard";
    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
}
@model BudgetTrackerApp.Models.AdminDashboardViewModel


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    
</script>

<div class="jumbotron">
    <h1 class="text-center">Administrator Dashboard</h1>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <p>Total Number of User Accounts: @(Model.totalUsers)</p>
                <p>Registrations this Month: @(Model.registrationsThisMonth)</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
    </div>
</div>
