@{
    ViewBag.Title = "Dashboard";
    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
}

<div class="jumbotron">
    
    <h1 class="text-center">@(user.FindFirst("FirstName").Value)'s Dashboard</h1>
</div>

<div class="row">

</div>

<div class="row">
    
</div>