@{
    ViewBag.Title = "Home Page";
}
@model BudgetTrackerApp.Models.HomeIndexViewModel

<div class="jumbotron">
    <h1 class="text-center">My Budget Tracker</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>My Budget Tracker is a web application that allows you to keep track of your finances.</p>
        <ul>
            <li>Track both your income and your expenses</li>
            <li>Set monthly goals for expenses</li>
            <li>Look through your statistics</li>
            <li>Share your budget with your whole family</li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="~/Images/Screenshot.PNG" class="img-responsive" />
        <img src="~/Images/Screenshot2.PNG" class="img-responsive" />
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3>Public Testimonials</h3>
            </div>
            <div class="panel-body text-center pre-scrollable">
                @if (Model.Testimonials.Count > 0)
                {
                    foreach (var testimonial in Model.Testimonials)
                    {
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <strong>@testimonial.Message</strong><br />
                                <span class="pull-right">-@testimonial.Name</span>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <br /><br /><br />
                    <h4>None</h4>
                    <br /><br /><br />
                }
            </div>
        </div>
    </div>
</div>
