@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">My Budget Tracker</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>My Budget Tracker is a web application that allows you to keep track of your finances.</p>
        <ul>
            <li>Track both your income and your expenses</li>
            <li>Set monthly goals for expenses</li>
            <li>Look through your statistics</li>
            <li>Share your budget with your whole family</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Screenshots placeholder</h2>
    </div>
    <div class="col-md-4">
        <h2>Testimonials Placeholder</h2>
    </div>
</div>