@{
    ViewBag.Title = "Statistics";
    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

<div class="jumbotron">
    <h1 class="text-center">@(user.FindFirst("FirstName").Value)'s Statistics</h1>
</div>

<div class="row">
    <div id="chartArea" class="col-lg-6">
    </div>
    <div id="menuArea" class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Time Range:</strong><br />
                <label for="timeRangeStart">Start:</label>
                <input type="date" name="timeRangeStart" /><br />

                <label for="timeRangeEnd">End:</label>
                <input type="date" name="timeRangeEnd" /><br />

                <label for="dataToDisplay">Data:</label>
                <select>
                    <option value="expensesUserCategories">Expenses by User Categories</option>
                    <option value="expensesIncomeTime">Expenses and Income over Time</option>
                    <option value="ExpensesTimeCategory">Expenses over Time by Category</option>
                    <option value="netOverTime">Income minus Expenses (Net) over Time</option>
                </select><br />

                
            </div>
        </div>
    </div>
</div>